table {
    border-collapse: collapse; /* Отображать двойные линии как одинарные */
}
th {
    cursor: pointer;
    background: #ccc; /* Цвет фона */
    text-align: left; /* Выравнивание по левому краю */
}
td, th {
    border: 1px solid #800; /* Параметры границы */
    padding: 4px; /* Поля в ячейках */
}

.search {
    margin: 30px;
}